<% if (page.comment){ %>
<section id="comment">
  <h2 class="title"><%= __('comment') %></h2>
  <% if (theme.github_comment) { %>  	 
	 <div id="github-comment"></div>
	 <div id="loading-comment"></div>
	 <script type="text/javascript">
	   getComments({
	           github_user: "<%= theme.github_comment.user %>",
	           github_repo: "<%= theme.github_comment.repo %>",
			   github_token: "<%= theme.github_comment.token %>",
			   no_comment: "<%= __('no_comment') %>",
			   go_to_comment: "<%= __('go_to_comment') %>",
			   no_issue: "<%= __('no_issue') %>",
			   page_title: "<%= page.title %>",
			   issue_id: "<%= page.issue_id %>"
			   });
	 </script>
  <% } %>
</section>
<% } %>