<div class="widget">
    <% if(theme.github_comment) { %>
	    <h4 class="dsq-widget-title">Recent Comments</h4>
		<div id="recent-comments"></div>		
		<script type="text/javascript">
		    getRecentCommentsList({
			   type: "<%= theme.github_comment.type %>",
			   user: "<%= theme.github_comment.user %>",
	           repo: "<%= theme.github_comment.repo %>",
			   token: "<%= theme.github_comment.token %>",
			   count: "<%= theme.github_comment.count %>" ? "<%= theme.github_comment.count %>" : 5,
			   recent_comments_target: "<%= theme.github_comment.recent_comments_target %>" ? "<%= theme.github_comment.recent_comments_target %>" : "#recent-comments"
			});
		</script>
	<% } %>
</div>